@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    padding: 0px 15px 0px 15px;
    margin-left: auto;
    margin-right: auto;
}

.special-scroll1{
    scrollbar-width: thin;
    direction: ltr;
    scrollbar-color: #DDD white;
}

.leaflet-control-attribution {
    display: none !important;
}

.rtl{
    direction: rtl;
}

.dark .apexcharts-legend-text {
    color: #EEE !important;
}

.dark tspan{
    fill: #EEE !important;
}

.dark .apexcharts-xaxis-title-text{
    fill: #EEE !important;
}

.dark .apexcharts-yaxis-title-text{
    fill: #EEE !important;
}

@keyframes fadeSlideDown {
    from {
        opacity: 0;
        transform: translateY(-170%) translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(-145%) translateX(-50%);
    }
}

.modaldown-animation {
    animation: fadeSlideDown .3s ease-out;
}

:focus.special_shadow {
    box-shadow: #ccc4ff 0px 0px 2px 1px;

}